---
import Note from "@/components/note/note.astro";
import Pagination from "@/components/paginator.astro";
import { getAllNotes, getNote, type Note as NoteType } from "@/data/post";
import PageLayout from "@/layouts/base.astro";
import type { GetStaticPaths, Page } from "astro";
import { Icon } from "astro-icon/components";

export const getStaticPaths = (async ({ paginate }) => {
	const MAX_NOTES_PER_PAGE = 10;
	const allNotes = await getAllNotes();

	// Get rendered content for all notes
	const notesWithContent = await Promise.all(
		allNotes.map(async (note) => {
			const noteWithContent = await getNote(note.slug);
			return noteWithContent!;
		}),
	);

	return paginate(notesWithContent, { pageSize: MAX_NOTES_PER_PAGE });
}) satisfies GetStaticPaths;

interface Props {
	page: Page<Awaited<ReturnType<typeof getNote>>>;
}

const { page } = Astro.props;

const meta = {
	description: "Read my collection of notes",
	title: "Notes",
};

const paginationProps = {
	...(page.url.prev && {
		prevUrl: {
			text: "← Previous Page",
			url: page.url.prev,
		},
	}),
	...(page.url.next && {
		nextUrl: {
			text: "Next Page →",
			url: page.url.next,
		},
	}),
};
---

<PageLayout meta={meta}>
	<section>
		<h1 class="title mb-6 flex items-center gap-3">
			Notes <a class="text-accent" href="/notes/rss.xml" target="_blank">
				<span class="sr-only">RSS feed</span>
				<Icon aria-hidden="true" class="h-6 w-6" focusable="false" name="mdi:rss" />
			</a>
		</h1>
		<ul class="mt-6 space-y-8 text-start">
			{
				page.data.map((note) =>
					note ? (
						<li class="">
							<Note note={note} as="h2" isPreview />
						</li>
					) : null,
				)
			}
		</ul>
		<Pagination {...paginationProps} />
	</section>
</PageLayout>
