---
import { siteConfig } from "@/site.config";

import { ks } from "@/utils/keystatic";

const navigation = await ks.singletons.navigation.read();

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center align-top font-semibold text-gray-600 dark:text-gray-400 sm:flex-row sm:justify-between sm:text-xs"
	transition:name="footer"
>
	<div class="me-0 sm:me-4">
		&copy; {siteConfig.author}
		{year}
	</div>
	<nav aria-label="More on this site" class="flex gap-x-2 sm:gap-x-0">
		{
			navigation?.links.map((link, index) => (
				<>
					{index > 0 && <span>×</span>}

					<a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline" href={link.url}>
						{link.label}
					</a>
				</>
			))
		}
	</nav>
</footer>
