name: autofix.ci

on:
  pull_request:
  push:
    branches: [master]

permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2

      - run: bun install

      - run: bun run fix

      - uses: autofix-ci/action@v1
